.ulHabitlist{
  list-style-type:none;
  width:75%;
  margin:auto;
  padding:0;
  /* border:1px dotted red; */
  
  display:flex;
  justify-content: space-around;
 
}
li{
  list-style: none;
}
.liTitle{
  /* border:1px solid black; */
  border-left: 6px solid green; 
  
  
  margin:0.5em;
  padding:0.5em;
  text-align: center;
  flex-basis: 140px;
  
}
.greenBorder{
  border-left: 6px solid green;
}
.blueBorder{
  border-left: 6px solid#4AAED0;
}
.liPercentage{
  /* border:1px solid black; */
  
  margin:0.5em;
  padding:0.5em;
  text-align: center;
  width: 70px;
  
}

.liButton{
  /* border:1px solid black; */
  margin:0.5em;
  padding:0.5em;
  text-align: center;
  
}

.text{
 font-weight:bold;
}

.dateContainer{
  /* border:1px solid red; */
  margin:auto;
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.date{
  
  margin:0.5em;
  padding:1em;
  /* border:1px solid black; */
  margin-right:30px;
  text-align: center;
  flex:1;
}

.container{
  max-width:50%;
  display: flex;
  flex-wrap: nowrap;
}

.addButton{
  margin-top:20px;
  margin-left:50px;
}

.textContainer{
  width:70%;
  display:flex;
  margin:auto;
  justify-content:space-around;
}
.input{
  text-align: center;
  height:35px;
  margin:5px;
  flex:1;

}
.percentage{
  text-align: center;
  margin:5px;
  flex:1;
}

.editbutton{
 margin:5px;
width:40px  
}


